.sehife_basliqlari{

	margin-top: 0px;

	text-align: center;

	font-size: 1.8em;

	margin-bottom: 20px;

	font-family: times, serif;

	text-transform: uppercase;

}

.navbar{

	min-height: 35px;

}

.nav-menu-close{

	height: 0px;

	overflow: hidden;

	color: lightgray;

	margin-right: 10px;

	line-height: 30px;

	font-size: 1.2em;

	float: right;

	z-index: 1;

	font-family: Times New Roman;

	font-weight: lighter;

}

.nav-menu-close:hover{

	color: white;

	font-size: 1.25em;

	transition:0.1s;

	margin-right: 8px;

}

@media(max-width: 1201px){

	.nav > li > a {

    position: relative;

    display: block;

    padding: 14px 12px;

}

}

@media(max-width: 768px){

	.nav > li > a {

    position: relative;

    display: block;

    padding: 7px 5px;

}

.nav{

	margin: 0px;

}

.dis-none-li li{

	height: 0px;

	transition:1.2s;

	overflow: hidden;

}

.dis-block-li li{

	height: 30px;

	transition:1.2s;

	overflow: hidden;

}

.nav-menu-close{

	height: 30px !important;

}

.sehife_basliqlari{

	font-size: 1.7em;

}

}

/*KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU*/

/*KUNG FU NEDIR START*/

.kung_fu_nedir-main{

	padding-left: 2em;

	padding-right: 2em;

}



.kung_fu_nedir-main p{

	font-size: 1.2em;

	line-height: 26px;

}

.kung_fu_nedir-main h4{

	font-style: italic;

}

.kung_fu_nedir-main li{

	font-style: italic;

	font-size: 1.1em;

	margin-top: 10px;

}

.kung_fu_nedir-davud_mahmudzade{

	float: right;

}

/*KUNG FU NEDIR FINISH*/











/*KUNG FU TARIXI START*/

.kung_fu_tarixi-main{

	padding-left: 2em;

	padding-right: 2em;

}

.kung_fu_tarixi-main p{

	font-size: 1.2em;

	line-height: 26px;

}

.kung_fu_tarixi-main h4{

	font-style: italic;

}

.kung_fu_tarixi-main li{

	font-style: italic;

	font-size: 1.1em;

	margin-top: 10px;

}

/*KUNG FU TARIXI FINISH*/













/*DERECE SISTEMI START*/

.kung_fu_derece_sistemi-main{

	padding-left: 2em;

	padding-right: 2em;

}

.kung_fu_derece_sistemi-main p{

	font-size: 1.2em;

	line-height: 26px;

}

.kung_fu_derece_sistemi-main h4{

	font-style: italic;

}

.kung_fu_derece_sistemi-main li{

	font-style: italic;

	font-size: 1.1em;

	margin-top: 10px;

	font-weight: bolder;

}

.kung_fu_derece_sistemi-main li:nth-child(2){

	color: #e6b800;

}

.kung_fu_derece_sistemi-main li:nth-child(3){

	color: blue;

}

.kung_fu_derece_sistemi-main li:nth-child(4){

	color: green;

}

.kung_fu_derece_sistemi-main li:nth-child(5){

	color: red;

}

.kung_fu_derece_sistemi-main li:nth-child(6){

	color: #663300;

}

/*DERECE SISTEMI FINISH*/



/*TAOLU START*/

.taolu-main{

	padding-left: 2em;

	padding-right: 2em;

}

.blue-headers-list{

	color: blue;

	font-weight: bold;

}

.taolu-main ul{

	list-style-type: disc;

}

.underline-decor{

	text-decoration: underline;

	display: inline-block;

	padding-left: 5px;

}

/*TAOLU FINISH*/

/*KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU - KUNG FU*/





/*TAICHI START*/

.taichi-main{

	padding-left: 2em;

	padding-right: 2em;

}

/*TAICHI FINISH*/







/*QAYDALAR START*//*QAYDALAR START*//*QAYDALAR START*//*QAYDALAR START*//*QAYDALAR START*//*QAYDALAR START*/



/*LIGHTSANDA START*/

.lightsanda-main{

	padding-left: 2em;

	padding-right: 2em;

}
.bold-text{

	font-weight: bold;

	margin-left: 20px;

	margin-top: 50px;

}
.menfi_xal_alanda{
	font-weight: bolder;
	color: #871E1E;
	margin-left: 20px;
}

/*LIGHTSANDA FINISH*/





/*FULLSANDA START*/

.fullsanda-main{

	padding-left: 2em;

	padding-right: 2em;

}
.fullsanda_bold-text{

	font-weight: bold;

	margin-left: 20px;

	margin-top: 50px;

}
.fullsanda_menfi_xal_alanda{
	font-weight: bolder;
	color: #871E1E;
	margin-left: 20px;
}
/*FULLSANDA FINISH*/



/*QAYDALAR FINISH*//*QAYDALAR FINISH*//*QAYDALAR FINISH*//*QAYDALAR FINISH*//*QAYDALAR FINISH*//*QAYDALAR FINISH*/



/*FOTO GALERIYA START*/

.photo-galery{

	display: flex;

	justify-content: center;

	flex-flow: row wrap;

}

.box-photos{

	border-radius: 10px;

	display: inline-block;

	background-color: lightblue;

	box-shadow: 0px 5px 20px;

  	transition: 0.3s ease;

	width: 14em;

	margin: 0px 10px 20px 10px;

	height: 180px;

	background-repeat: no-repeat !important;

	background-size: cover !important;

}

.box-photos:hover {

  cursor: pointer;

  filter: brightness(80%);

  -webkit-filter: brightness(70%);

}

.photo-galery-main{

	text-align: center;

}

/*popup image asagdakilardir*/

.overlay {

  position: fixed;

  left: 0px;

  top: 0px;

  width: 100%;

  height: 100%;

  text-align: center;

  z-index: 10;

  background: rgba(0, 0, 0, 0.7);

  display: none;

}

.sliderBox {

  margin: auto;

  position: absolute;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  z-index: 20;

}

.popUpImg {

  margin:auto;

  margin-top: 5%;

  height: 80%;

  max-width: 100%;

  background-size:cover !important;

}

.prevButt {

  left: 0px;

}

.nextButt {

  right: 0px;

}

#navButt {

  position: absolute;

  top: 40%;

  width: 45px;

  height: 20%;

  background: white;

  z-index: 30;

  opacity: 0.5;

  transition: 0.3s ease;

}

#navButt:hover {

  opacity: 0.4;

  cursor: pointer;

}

.closeButt {

  position: absolute;

  width: 1.6em;

  height: 1.6em;

  top: 5%;

  right: 3%;

  font-size: 1.6em;

  color: gray;

  background: lightgray;

  transition: 0.3s ease;

  border-radius: 50%;

  line-height: 1.6em;

  z-index: 50;

}

.closeButt:hover {

  filter: brightness(80%);

  -webkit-filter: brightness(80%);

  cursor: pointer;

}

.galeryimg_desctription{

	font-size: 1.2em;

	color: white;

}

@media(max-width: 768px){

	.popUpImg {

  margin-top: 11.5%;

 }

 .closeButt {

 	top: 2%;

 	right: 1%;

 	width: 1.2em;

  	height: 1.2em;

  	line-height: 1.2em;

  	font-size: 1.2em;

 }

 .galeryimg_desctription{

	font-size: 0.8em;

}

#navButt {

  top: 44%;

  width: 25px;

  height: 12%;

  background: white;

  z-index: 30;

  opacity: 0.5;

  transition: 0.3s ease;

}

}

/*FOTO GALERIYA FINISH*/







/*VIDEO GALERIYA START*/

.video-galery-main{

	text-align: center;

}

.video-galery{

	display: flex;

	justify-content: center;

	flex-flow: row wrap;

}

.box-videos-main{

	margin-bottom: 15px;

}

.box-videos{

	border-radius: 10px;

	display: inline-block;

	background-color: lightblue;

	box-shadow: 0px 5px 20px;

  	transition: 0.3s ease;

	width: 22em;

	margin: 0px 10px 0px 10px;

	height: 225px;

}

.box-videos:hover {

  cursor: pointer;

  filter: brightness(80%);

  -webkit-filter: brightness(70%);

}

.tarix_info-div{

	border-bottom-right-radius: 10px;

	border-bottom-left-radius: 10px;

	border-bottom: 1px solid gray;

}

.videotarix{

	text-align: left !important;

	margin-left: 10px;

	margin-bottom: 0px;

	text-decoration: underline;

}

.videoinfo{

	width: 22em;

	margin: 0px 10px 0px 10px;

}

@media(max-width: 1200px){

	.box-videos{

	width: 18.7em;

	height: 200px;

}

	.videoinfo{

	width: 18.7em;

}

}

/*VIDEO GALERIYA FINISH*/









/*YIGMA KOMANDA START*/

.yigma_komanda-main{

	

}

.yigma-komanda-uzv{

	min-height: 350px;

}

@media(max-width: 1200px){

	.yigma-komanda-uzv{

	min-height: 325px;

}

}

.yigma_komanda{

	margin-top: 0px;

	text-align: center;

	font-size: 2em;

	margin-bottom: 20px;

	text-transform: uppercase;

	font-family: times, serif;

}

.yigma_komanda-main div:nth-child(2){

	text-align: center;

}

.yigma_komanda-imgdiv{

	max-height: 200px;

	overflow: hidden;

	text-align: center;

}

.yigma_komanda-imgdiv img{

	width: 13em;

}

.yigma_komanda-main span{

  display: block;

  font-size: 1em;

  text-align: center;

}

.yigma_komanda-main img{

  display: inline-block;

  padding: 0px;

}

@media(max-width: 1200px){

	.yigma_komanda-imgdiv img{

	width: 10.3em;

}

}

@media(max-width: 768px){

	.yigma_komanda-imgdiv img{

	width: 14em;

}

}

@media(max-width: 480px){

	.yigma_komanda-imgdiv img{

	width: 9em;

}

}

/*YIGMA KOMANDA FINISH*/



/*REHBERLIK START*/

.rehberlik-main{

	

}

.rehberlik-uzv{

	min-height: 350px;

}

@media(max-width: 1200px){

	.yigma-komanda-uzv{

	min-height: 325px;

}

}

.rehberlik-main div:nth-child(2){

	text-align: center;

}

.yigma_komanda-imgdiv{

	max-height: 200px;

	overflow: hidden;

	text-align: center;

}

.rehberlik-main span:nth-child(2){

	margin-top: 10px;

}

.rehberlik-main span{

  display: block;

  font-size: 1em;

  text-align: center;

}

.rehberlik-main img{

  display: inline-block;

  padding: 0px;

}

/*REHBERLIK FINISH*/





/*UZVLUK START*/

input[type=number]::-webkit-inner-spin-button, 

input[type=number]::-webkit-outer-spin-button { 

  -webkit-appearance: none; 

  margin: 0; 

}

.uzvluk-main{

	display: block;

	text-align: center;

}

.uzvluk-main label{

	float: left;

}

.padding-left-zero{

	padding-left: 0px !important;

}

.qeyd{

	padding: 15px;

	text-align: left;

}

.qeyd p:nth-child(1){

	color: red;

}

.qeyd p{

	margin: 0px;

	font-weight: bolder;

}

@media(max-width: 768px){

	.uzvluk-main{

	margin-top:50px;

}

}

/*UZVLUK FINISH*/









/*TEDBIRLER START*/

.tedbirler-main th,td{

		border:1px solid black;

		text-align: center;

		height: 35px;

}

.tedbirler-main {

	overflow-y: scroll;

}

.tedbirler-main table tr td{

	    vertical-align: bottom;

	}

	.tedbirler-main table tr th{

	    vertical-align: middle;

	}

@media(max-width: 992px){

	.tedbirler-main table{

	    font-size: 0.92em;

	}

	.tedbirler-main table tr td{

	    padding: 0px;

	}

	.tedbirler-main table tr th{

	    padding: 0px;

	}

}

/*TEDBIRLER FINISIH*/









/*SPONSORLUQ START*/

.sponsorluq-main{

	padding-left: 0px;

}

.sponsorluq-main h4{

	margin-left: 20px;

}

.diamond-sponsor{

	color: #9BDDFF;

}

.platinum-sponsor{

	color: #c3c0bc;

}

.gold-sponsor{

	color: #FFD700;

}

.silver-sponsor{

	color: #C0C0C0;

}

.bronze-sponsor{

	color: #CD7F32;

}

/*SPONSORLUQ FINISH*/





/*ELAQE START*/

.elaqe-main{

	padding-left: 2em;

	padding-right: 2em;

}

.kung_fu_tarixi-main p{

	font-size: 1.2em;

	line-height: 26px;

}

.elaqe-main div:nth-child(2) p:nth-child(5){

	font-weight: bold;

}

/*ELAQE FINISH*/





/*EN SON YENILIKLER PAGE START*/

.en-son-yenilikler-main{

	text-align: center;

}

.xeber-box{

	padding-right: 15px;

}

.basliq-div{

	display: inline-block;

	width: 85%;

}

.basliq-div p{

	font-size: 1.1em;

	text-align: left;

}

.tarix-div{

	display: inline-block;

	width: 15%;

	vertical-align: top;

}

.tarix-div p{

	margin: 0px;

	padding: 0px;

	font-size: 0.9em;

	text-decoration: underline;

}



.text-div{

	font-size: 1em;

	overflow: hidden;

	max-width: 95ch;

	max-height: 10ch;

	font-style: italic;

}

.oxu-div{

	width: 100%;

	margin-top: 10px;

}

.oxu-div a{

	display: inline-block;

	float: right;

	height: 30px;

	font-size: 0.98em;

	padding: 4px 10px;

	text-transform: uppercase;

}

@media(max-width: 992px){

	.xeber-box{

	padding-right: 0px;

}

}

@media(max-width: 768px){

	.xeber-box{

	padding-left: 0px;

}

}

/*XEBER GOSTERILEN SEHIFE START*/

.xeber-tek-main{

	padding-left: 2em;

	padding-right: 2em;

}

.xeber-tek-up span{

	display: inline-block;

}

.xeber-tek-up span:nth-child(2){

	float: right;

}

.xeber-tek-up h3{

	margin: 20px auto;

	text-align: center;

	font-size: 1.85em;

	font-family: Times New Roman;

}

.xeber-tek-text{

	margin-top: 20px;

}

.xeber-tek-text p{

	text-align: center;

	font-size: 1.08em;

}



/*XEBER GOSTERILEN SEHIFE FINISH*/





/*EN SON YENILIKLER PAGE FINISH*/